<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header class="encabezado">
        <a href="./home" class="volver">volver al home</a>    
    </header>
    <main>
        
        <h1>hopper</h1>
        <div>
        <img src="/img/hopper.webp" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, at? Id animi cumque consequuntur incidunt rem asperiores ratione facere officiis dolore, amet corporis necessitatibus tempore corrupti commodi natus ut? Excepturi.
            Laborum distinctio nemo temporibus dolores. Accusantium repellendus ullam fuga, cumque et ratione labore omnis molestias vel quam libero, odit itaque facere consequuntur laborum nisi iste alias reiciendis deleniti exercitationem nemo.</p>
    </div>
    
    </main>
<footer>

</footer>

</body>
</html>