<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-HEROES</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo">
    <header class="encabezado">
        <a href="./home" class="encabezado">volver al home</a>
    </header>
    <main>
        <h1 class="indice">Indice</h1>  
        <div class="flex">
        <a href="./babbage">Babbage</a>
        <a href="./berners-lee">Berners lee</a>
        <a href="./clarke">Clarke</a>
    </div>
    <div class="flex">
        <a href="./hamilton">Hamilton</a>
        <a href="./hopper">Hopper</a>
        <a href="./lovelace">Lovelace</a>
        <a href="./turing">Turing</a>
    </div>
    </main>
<footer>

</footer>

</body>
</html>